.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    .search-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      padding: 0 0.75rem;
      gap: 0.5rem;
      cursor: pointer;
      width: 100%;
      text-align: left;

      .search-icon {
        color: var(--muted-foreground);
        flex-shrink: 0;
      }

      .search-input {
        flex: 1;
        color: var(--muted-foreground);
        font-size: 0.875rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
        background: transparent;
        padding: 0;
      }

      kbd {
        margin-left: auto;
        flex-shrink: 0;
      }


    }

  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}



/* Notification button with badge */
.top-navbar-btn {
  position: relative;
  border: 1.5px solid var(--primary);
  color: var(--primary);
  cursor: pointer;

  &:hover {
    background-color: var(--primary);
    color: var(--card);
  }

  [data-slot="badge"] {
    position: absolute;
    top: -10px;
    right: -10px;
  }
}