.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 90%;


    .search-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      padding: 0 0.75rem;
      gap: 0.5rem;
      cursor: pointer;
      width: 100%;
      text-align: left;

      .search-icon {
        color: var(--muted-foreground);
        flex-shrink: 0;
      }

      .search-input {
        flex: 1;
        color: var(--muted-foreground);
        font-size: 0.875rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
        background: transparent;
        padding: 0;
      }

      kbd {
        margin-left: auto;
        flex-shrink: 0;
      }


    }

  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}



/* Notification button with badge */
.notification-btn {
  position: relative;
  background-color: var(--card);
  border: 1.5px solid var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.notification-badge {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 13.5px;
  height: 13.5px;
  background-color: var(--primary);
  color: var(--background-darker);
  border-radius: 50%;
  font-size: 0.525rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 1024px) {
  .nav-links {
    display: none;
  }

  .search-input {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .top-navbar {
    padding: 0 0.75rem;
  }

  .logo-text {
    display: none;
  }

  .search-container {
    display: none;
  }
}