services:
  postgres:
    image: postgres:16-alpine3.23
    restart: always
    container_name: dwellpostgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Ax!rtrysoph123
      POSTGRES_DB: credopass_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: