.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 90%;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}



.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 30px;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  color: var(--muted-foreground);
}

.search-input {
  width: 100%;
  height: 100%;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 0 0.75rem 0 2.25rem;
  color: var(--foreground);
  font-size: 1rem;
}

.search-input::placeholder {
  color: var(--muted-foreground);
}

/* Notification button with badge */
.notification-btn {
  position: relative;
  background-color: var(--card);
  border: 1.5px solid var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.notification-badge {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 13.5px;
  height: 13.5px;
  background-color: var(--primary);
  color: var(--background-darker);
  border-radius: 50%;
  font-size: 0.525rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 1024px) {
  .nav-links {
    display: none;
  }
  
  .search-input {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .top-navbar {
    padding: 0 0.75rem;
  }
  
  .logo-text {
    display: none;
  }
  
  .search-container {
    display: none;
  }
}
